@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Quicksand";
  src: url("/assets/fonts/quicksand/static/Quicksand-Light.ttf");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url("/assets/fonts/quicksand/static/Quicksand-Regular.ttf");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url("/assets/fonts/quicksand/static/Quicksand-Medium.ttf");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url("/assets/fonts/quicksand/static/Quicksand-SemiBold.ttf");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url("/assets/fonts/quicksand/static/Quicksand-Bold.ttf");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@layer base {
  :root {
    --main-bg-linear-gradient-start: 0deg, theme(colors.roman-silver-20) 0%,
      theme(colors.roman-silver-20) 100%;

    --main-bg-linear-gradient-end: 155deg, theme(colors.charcoal) 0%,
      theme(colors.charcoal-tint) 100%;

    background: linear-gradient(var(--main-bg-linear-gradient-start)),
      linear-gradient(var(--main-bg-linear-gradient-end));
  }
}
